@import "../node_modules/bootstrap/scss/bootstrap.scss";
.App {
  text-align: center;
  padding: 70px 20px;
  .result {
    margin-top: 30px;
    .result-text {
      font-size: 60px;
      font-weight: 600;
    }
    .error-text{
      font-size: 40px;
      color: red;
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
